{{ "<!-- ASIDE -->" | safeHTML }}
<aside class="bg-dark">
  <div class="container">
    {{ range .Site.Params.aside.list }}
    <div class="row">
      <div class="col-sm-6">
         <img src="{{ .Site.BaseURL }}/img/{{ .photo1 }}" class="img-responsive"> 
        <h3>{{ .title1 }}</h3>
        <p class="text-muted">{{ .description1 }}</p>
      </div>
      <div class="col-sm-6">
         <img src="{{ .Site.BaseURL }}/img/{{ .photo2 }}" class="img-responsive"> 
        <h3>{{ .title2 }}</h3>
        <p class="text-muted">{{ .description2 }}</p>
      </div>
    </div>
    {{ end }}
  </div>

</aside>


<!--

	<a href="http://41.media.tumblr.com/f37ac708134914c471073e4c0b47328d/tumblr_mrn3dc10Wa1r1thfzo8_1280.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="People walking down stairs" class="col-sm-4">
                                    <img src="//41.media.tumblr.com/f37ac708134914c471073e4c0b47328d/tumblr_mrn3dc10Wa1r1thfzo8_1280.jpg" class="img-responsive">
                                </a>
                                <a href="http://41.media.tumblr.com/838b44224e39c30cd43490deb11b919d/tumblr_mrn3dc10Wa1r1thfzo1_1280.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Man getting wet" class="col-sm-4">
                                    <img src="//41.media.tumblr.com/838b44224e39c30cd43490deb11b919d/tumblr_mrn3dc10Wa1r1thfzo1_1280.jpg" class="img-responsive">
                                </a>
                                <a href="http://41.media.tumblr.com/e06a3513b0b36843f54bee99aeac689a/tumblr_mrn3dc10Wa1r1thfzo2_1280.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Someone lost their dress" class="col-sm-4">
                                    <img src="//41.media.tumblr.com/e06a3513b0b36843f54bee99aeac689a/tumblr_mrn3dc10Wa1r1thfzo2_1280.jpg" class="img-responsive">
                                </a>

                                -->






<!--

  // original attempt at lightbox gallery
  // removed in attemt to have more fixed contect 'this is what we offer' type thing with select ph

  <div class="col-sm-2">
            <a href="{{ .Site.BaseURL }}/img/1.jpg" class="thumbnail col-centered" data-toggle="lightbox" data-gallery="multiimages" data-title="People walking down stairs" >
                                    <img src="{{ .Site.BaseURL }}/img/1.jpg" class="img-responsive">
                </a>
          </div>
        <div class="col-sm-2">
          <a href="{{ .Site.BaseURL }}/img/9.jpg" class="thumbnail col-centered" data-toggle="lightbox" data-gallery="multiimages" data-title="People walking down stairs" >
                                    <img src="{{ .Site.BaseURL }}/img/9.jpg" class="img-responsive">
                </a>
        </div>
        <div class="col-sm-2">
          <a href="{{ .Site.BaseURL }}/img/7.jpg" class="thumbnail col-centered" data-toggle="lightbox" data-gallery="multiimages" data-title="People walking down stairs" >
                                    <img src="{{ .Site.BaseURL }}/img/7.jpg" class="img-responsive">
                </a>
        </div>
        <div class="col-sm-2">
          <a href="{{ .Site.BaseURL }}/img/8.jpg" class="thumbnail col-centered" data-toggle="lightbox" data-gallery="multiimages" data-title="People walking down stairs" >
                                    <img src="{{ .Site.BaseURL }}/img/8.jpg" class="img-responsive">
                </a>
        </div>
        <div class="col-sm-2">
          <a href="{{ .Site.BaseURL }}/img/5.jpg" class="thumbnail col-centered" data-toggle="lightbox" data-gallery="multiimages" data-title="People walking down stairs" >
                                    <img src="{{ .Site.BaseURL }}/img/5.jpg" class="img-responsive">
                </a>
        </div>
        <div class="col-sm-2">
          <a href="http://41.media.tumblr.com/f37ac708134914c471073e4c0b47328d/tumblr_mrn3dc10Wa1r1thfzo8_1280.jpg" class="thumbnail col-centeredapt-get -y build-dep libcurl4-gnutls-dev" data-toggle="lightbox" data-gallery="multiimages" data-title="People walking down stairs" >
                                    <img src="//41.media.tumblr.com/f37ac708134914c471073e4c0b47328d/tumblr_mrn3dc10Wa1r1thfzo8_1280.jpg" class="img-responsive">
                </a>
        </div>

-->