{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>{{ with .Site.Params.contact.phone }}{{ . }}{{ end }}</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}">{{ with .Site.Params.contact.email }}{{ . }}{{ end }}</a></p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center plainlink">
                <a href="https://www.facebook.com/Southsea-VW-Campers-368047316655946"><i class="fa fa-facebook fa-3x wow bounceIn"></i></a>
            </div>
            <div class="col-lg-4 text-center plainlink">
                <a href="https://www.instagram.com/southseavwcampers/"><i class="fa fa-instagram fa-3x wow bounceIn"></i></a>
            </div>
        </div>
    </div>
</section>
