{{ "<!-- SERVICES -->" | safeHTML }}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.services.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ range .Site.Params.services.list }}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x {{ .icon }} wow bounceIn text-primary"></i>
                    <h3>{{ .title }}</h3>
                    <p class="text-muted">{{ .description }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

</section>
